/*
 * Created by Caleb Milligan on 2/23/2016
 */

header {
    text-align: center;
}

.team_query {
    margin: auto;
    width: 44%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.team_query * {
    display: inline;
}

.team_query datalist {
    display: none;
}

body {
    background: #0F0F0F url("http://orf.hulk.osd.wednet.edu/files/theme/content-bg.jpg") repeat;
    text-shadow: 3px 5px 4px #000;
    color: #fff;
}

input {
    color: #000
}

table tr {
    white-space: nowrap;
}

thead tr {
    border-radius: 5px;
    background-color: #0F0F0F;
}

tbody tr:nth-child(odd){
    background-color: rgba(48, 48, 48, 0.5);
}

tbody tr:nth-child(even){
    background-color: rgba(32, 32, 32, 0.5);
}

tr input {
    margin-left: 5px !important;
}

.table-responsive {
    border: 4px inset #333;
    border-radius: 10px;
    background: url("http://orf.hulk.osd.wednet.edu/files/theme/header-footer-bg.jpg") repeat;
    max-height: 500px;
    overflow: auto;
}

.media {
    border: 4px inset #333;
    border-radius: 10px 0 10px 10px;
    background: url("http://orf.hulk.osd.wednet.edu/files/theme/header-footer-bg.jpg") repeat;
}

.william {
    border: 4px inset #333;
    border-left: none;
    margin-left: -5px;
    z-index: 1;
    border-radius: 0 10px 10px 10px;
    background: url("http://orf.hulk.osd.wednet.edu/files/theme/header-footer-bg.jpg") repeat;
}

#obstacle_data * {
    max-width: 100%;
}

.scrolling_list {
    max-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}
