.media img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#obstacle_data * {
    max-width: 100%;
}

.scrolling_list {
    max-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}