header {
    text-align: center;
}

.team_query {
    margin: auto;
    width: 44%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.team_query * {
    display: inline;
}

.team_query datalist {
    display: none;
}

body {
    background: url("http://orf.hulk.osd.wednet.edu/files/theme/content-bg.jpg") repeat;
    color: #fff;
    text-shadow: 3px 5px 3px black;
}

input {
    color: #000
}

.table-responsive {
    border: 4px inset #333;
    border-radius: 10px;
    background: url("http://orf.hulk.osd.wednet.edu/files/theme/header-footer-bg.jpg") repeat;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.media {
    border: 4px inset #333;
    border-radius: 10px 0 10px 10px;
    background: url("http://orf.hulk.osd.wednet.edu/files/theme/header-footer-bg.jpg") repeat;
}

.well {
    border: 4px inset #333;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -5px;
    z-index: 1;
    background: url("http://orf.hulk.osd.wednet.edu/files/theme/header-footer-bg.jpg") repeat;
}

#obstacle_data * {
    max-width: 100%;
}

.scrolling_list {
    max-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}