header {
    text-align: center;
}

.team_query {
    margin: auto;
    width: 44%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.team_query * {
    display: inline;
}

.team_query datalist {
    display: none;
}

.media img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#obstacle_data * {
    max-width: 100%;
}

.scrolling_list {
    max-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}